<template>
	<div class="login">
		<input type="" v-model="form.email" name="">
		<br>
		<input type="password" v-model="form.paswword">
		<br>
		<button @click="login">Login</button>
	</div>
</template>

<script>
export default {
	data() {
		return {
			form: {
				email: '',
				password: ''
			}
		}
	},
	methods: {
		login() {
			this.$store.dispatch('auth/login', this.form)
		}
	}
}
</script>