<template>
  <div>
    <main class="main">
    	<router-view></router-view>
    </main>
  </div>
</template>

<script>

export default {
  name: 'DefaultLayout',
  data () {
    return {
    }
  },
}
</script>