<template>
  <div id="app">
    <loading ref="loading" />
    <component :is="layout" v-if="layout" />
  </div>
</template>

<script>
import Loading from './Loading.vue'
export default {
  el: '#app',
  data: () => ({
    // pageLayout: null,
    defaultLayout: 'DefaultLayout',
    toast_counter: 0
  }),

  components: {
    Loading
  },

  mounted() {
    this.$loading = this.$refs.loading;
  },

  computed: {
    /**
     * Set the application layout.
     *
     * @param {String} layout
     */
    layout() {
      return this.$route.meta.layout || this.defaultLayout;
    }
  },
  methods: {
    show_toast(title, msg, variant = 'success', append = false) {
      this.toast_counter++;
      this.$bvToast.toast(msg, {
        title: title,
        toaster: 'b-toaster-top-center',
        solid: true,
        appendToast: append,
        variant: variant
      });
    },
    async showConfirmDialog(message = null, title = null, hideCancel = true, okeTitle = null) {
      return await this.$bvModal.msgBoxConfirm(message == null ? "Are you confirm this?" : message, {
        modalClass: 'c-confirm-box-modal',
        noCloseOnBackdrop: true,
        noCloseOnEsc: true,
        dialogClass: 'c-confirm-box-dialog',
        okOnly: true,
        title: title ? title : "Title",
        cancelDisabled: true,
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'primary',
        okTitle: okeTitle ? okeTitle : "Oke",
        footerClass: 'p-2',
        cancelTitle: "Cancel",
        hideHeaderClose: false,
        centered: true
      }).then(value => value).catch(err => err);
    }
  }
}
</script>
<style lang="scss">
  html, body, #app {
    height: 100%;
    margin: 0;
  }
  .full-height {
    min-height: 100%;
  }
</style>