<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<div id="app"></div>
	{% load static %}
	<script src="{% static "main.js" %}"></script>
</body>
</html>